doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='pragma', content='no-cache')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    link(rel='stylesheet', href='./assets/styles/index.css')
    title test

  body
    .wp
      form.form
        input(required,
          validate,
          name='username',
          pattern='^[a-z]+$',
          tips='{\
            "tips": "用户名不能为空",\
            "patt": "用户名格式不正确"\
          }')

        input(name='password')

        input(required,
          validate,
          name='emall',
          tips='{\
            "tips": "邮箱不能为空"\
          }')

        button(type='button', class='submit') test

    script(src='./assets/scripts/libs/require.js')
    script(src='./assets/scripts/config.js')
    script(src='./assets/scripts/index.js')

